
<%- layout('layouts/page') -%>

    <% if(user) { %>
        <p>User <%- user -%> </p></br>
    <% } else { %>
        <p>Unregister user</p>
    <% } %> 

    <div class="thing_detail">
      <img src="img/<%- src_ %>">
      <span>Cost: <%- cost_ %>  </span>
      <br>
      <span>Name: <%- name_ %></span>
      <p>
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description Description 
          Description Description Description Description Description Description 
      </p>
    </div>
	